<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="../assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="../assets/img/favicon.png">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        Material Dashboard by Creative Tim
    </title>
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="../assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />

    <link href="../assets/demo/demo.css" rel="stylesheet" />
    <link href="../assets/css/bootstrap-colorpicker.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/bsfile.css"/>
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/css/jasny-bootstrap.min.css">



</head>

<body class="">
<div class="wrapper ">

    <% include menu.ejs %>

    <div class="main-panel">

        <% include navbar.ejs %>

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <button type="button" class="btn btn-primary newbt" data-toggle="modal" data-target="#myModal" >
                            <span class="fa fa-plus"></span> Ajouter une entrée
                            <div class="ripple-container"></div>
                        </button>
                    </div>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Actualités</h4>
                                <p class="card-category"> Fonteko</p>
                            </div>
                            <div class="card-body">
                            
                            
                            <div class="row clearfix">
        
                               
                                                
                    <% items.forEach( function( todo ){ %>
                    
                    
                    
                        <div class="col-lg-4 cards">
							<div class="card card-pricing card-raised">
								<div class="card-body">
								
								
								<div class="hidden" snd-data-<%=todo._id%>="_id"><%=todo._id%></div>
								<h3 class="card-title" snd-data-<%=todo._id%>="titre"><%=todo.titre%></h3>
									
									<div class="card-icon icon-rose">
										<a class="fancybox" rel="group" href="/upload/feko-news/<%=todo._id%>.jpg">
											<div class="img-responsive thumbnail" style="background: white url(/upload/feko-news/<%=todo._id%>.jpg) no-repeat center center;background-size: 100%;height: 200px;">
											</div>
                                        </a>
									</div>
              
									
									<h6 class="card-category" snd-data-<%=todo._id%>="d1"><%=todo.d1%></h6>
									<h6 class="card-category" snd-data-<%=todo._id%>="d2"><%=todo.d2%></h6>
									<h6 class="card-category" snd-data-<%=todo._id%>="d3"><%=todo.d3%></h6>
              <p class="card-description">
                <div class="mytile-desc" style="height: 60px;overflow: scroll;"><p snd-data-<%=todo._id%>="descl"><%=todo.descl%></p></div>
              </p>
              <p>
              <button class="btn btn-primary btn-sm btn-round editbt" data-toggle="modal" data-target="#myModal" data-id="<%=todo._id%>">
                                        Editer
                                    </button>

                                    <a class="btn btn-rose btn-sm btn-round" onclick="confirmdel('<%=todo._id%>','feko-news','feko-news');" role="button">Supprimer</a>
                                    </p>
            </div>
          </div>
        </div>
                    
                    
                    
                    
                    
                    

                    <% }); %>
          
                        </div>
                               
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>
  <!-- Modal -->
<div class="modal fade" id="myModal"  role="dialog"
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">

        <form action="/add/news" method="post" enctype="multipart/form-data" accept-charset="utf-8" class="form" role="form" id="myform"  >
            <input type="hidden" id="_id" name="_id" value="">
            <input type="hidden" id="collection"  value="feko-news">

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">
                    Ajouter une news
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-12">

                        <div class="row">
                            <div class="col-md-12">
                               <center>
                               
                               <div class="fileinput fileinput-new" data-provides="fileinput">
  <div class="fileinput-new img-thumbnail" style="width: 450px; height: 250px;">
    <img data-src="holder.js/100%x100%"  id="imageID">
  </div>
  <div class="fileinput-preview fileinput-exists img-thumbnail" style="max-width: 450px; max-height: 250px;"></div>
  <div>
    <span class="btn btn-outline-secondary btn-file"><span class="fileinput-new">Select image</span><span class="fileinput-exists">Change</span><input type="file" name="image" id="image" accept="image/*"></span>
    <a href="#" class="btn btn-outline-secondary fileinput-exists" data-dismiss="fileinput">Remove</a>
  </div>
</div>
                               
                               

                                </center>
                            </div>


                        </div>

                        <div class="form-group">
                            <input type="text" maxlength="27"  name="titre" id="titre" value="" class="form-control" placeholder="titre"  /></br>
                            <input type="text" maxlength="34"  name="d1" id="d1" value="" class="form-control" placeholder="Ligne 1"  /></br>
                            <input type="text" maxlength="34"  name="d2" id="d2" value="" class="form-control" placeholder="Ligne 2"  /></br>
                            <input type="text" maxlength="34"  name="d3" id="d3" value="" class="form-control" placeholder="Ligne 3"  /></br>
                        </div>
                        <div class="form-group">
                            <label>Description longue</label>
                            <textarea class="form-control" rows="3" name="descl" id="descl"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">Annuler
                </button>
                <input type="submit" value="Valider" class="btn btn-primary">
            </div>
        </div><!-- /.modal-content -->
        </form>

    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



<script src="../assets/js/core/jquery.min.js" type="text/javascript"></script>
<script src="../assets/js/core/popper.min.js" type="text/javascript"></script>
<script src="../assets/js/core/bootstrap-material-design.min.js" type="text/javascript"></script>
<script src="../assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>

<!-- Chartist JS -->
<script src="../assets/js/plugins/chartist.min.js"></script>
<!--  Notifications Plugin    -->
<script src="../assets/js/plugins/bootstrap-notify.js"></script>
<!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
<script src="../assets/js/material-dashboard.min.js?v=2.1.0" type="text/javascript"></script>
<!-- Material Dashboard DEMO methods, don't include it in your project! -->
<script src="../assets/demo/demo.js"></script>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.6.0/bootstrap-table.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.6.0/bootstrap-table.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.6.0/locale/bootstrap-table-fr-FR.min.js"></script>

<script src="../assets/js/bootstrap-colorpicker.js"></script>
<script src="../js2/miam.js"></script>
<script src="../js/planb.js"></script>
<script src="../js2/bootbox.min.js"></script>

  <!--<script src="../js/fileinput.js"></script>-->
  
<script src="//cdnjs.cloudflare.com/ajax/libs/jasny-bootstrap/4.0.0/js/jasny-bootstrap.min.js"></script>


<script type="text/javascript">

    function nomFm(value, row){
        return  row['lastname'] + ' '+row['firstname'] ;
    }

    function editFm(value, row) {
        var c = this;
        return '<button class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal-presta" data-id="'+row['_id']+'"    onclick="'+"editobj  ('"+row['_id']+"');"+'"><span class="fa fa-pencil" aria-hidden="true"></span></button>&nbsp;&nbsp;<button class="btn btn-sm  btn-danger" onclick="'+"confirmdel('"+row['_id']+"','feko-news','feko-news');"+'"><span class="fa fa-trash-o" aria-hidden="true"></span></button>';
    }


    $(document).ready(function() {
        $('#mnnews').addClass("active");
    });




</script>


</body>

</html>