<!DOCTYPE html>
<html lang="fr">

<% include head %>

<style>
.mhei{
	min-height:20px;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.file {
  visibility: hidden;
  position: absolute;
}

#img-upload{
    width: 100%;
}
</style>
<body>

    <div class="wrapper">
		
		<% include navbar2 %>

        <!-- Page Content  -->
        <div id="content">
        
        <div class="row">
       	  <div class="col-1">
		  	<button type="button" class="btn btn-primary newbt" data-toggle="modal" data-target="#myModal" style="margin-top: 5px;">
				 Ajouter
			 </button>
		  </div>
          <div class="col-11">
          <nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="#">Accueil</a></li>
				<li class="breadcrumb-item active" aria-current="page">Vidéos</li>
			</ol>
		  </nav>
		  </div>
		</div>
		
		
		         <div class="row">

        
                               
                                                
                    <% items.forEach( function( todo ){ %>
                    
                    
                    
                        <div class="col-lg-4 cards">
							<div class="card card-pricing card-raised">
								<div class="card-body">
								<h3 class="card-title" snd-data-<%=todo._id%>="titre"><%=todo.titre%></h3>
									
									<div class="card-icon icon-rose">
										<div class="embed-responsive embed-responsive-16by9">
                                <iframe class="embed-responsive-item" src="<%=todo.lien%>" snd-data-<%=todo._id%>="lien"><%=todo.lien%></iframe>
                            </div>
									</div>
              
									

              <p>
              <br>
              <button class="btn btn-primary btn-sm btn-round editbt" data-toggle="modal" data-target="#myModal" data-id="<%=todo._id%>">
                                        Editer
                                    </button>

                                    <a class="btn btn-rose btn-sm btn-round" onclick="confirmdel('<%=todo._id%>','feko-video','feko-video');" role="button">Supprimer</a>
                                    </p>
            </div>
          </div>
        </div> 
                    
                    
                    

                    <% }); %>
          
                        </div>

		


		</div>
		<!-- /Page Content  -->
		
		
    </div>
    <!-- /wrapper  -->
    


    <!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
    
    <form action="/add/video" method="post" enctype="multipart/form-data" accept-charset="utf-8" class="form" role="form" id="myform"  >
            <input type="hidden" id="_id" name="_id" value="">
            <input type="hidden" id="collection"  value="feko-video">
      
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
      <div class="modal-body">
      	 <input type="text" class="d-none" name="_id" id="_id">
      	 
         <div class="form-group">
		 	<label for="nom">Titre:</label>
		 	<input type="text" class="form-control" placeholder="Entrer le titre" name="titre" id="titre" required>
		 </div>
		 
		
  
		 <div class="form-group">
		 	<label for="tel">Lien:</label>
		 	<input type="text" class="form-control" placeholder="Entrer le lien" id="lien" name="lien" required>
		 </div>
       

		 

      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
          <button type="submit" class="btn btn-primary" >Envoyer</button>
      </div>
      </form>
      
    </div>
  </div>
</div>

    
	<% include bsjs %>

	

	<script>

	
    
        function genericFm(value, row, index,field) {

	        return '<a snd-data-'+row['_id']+'="'+field+'">'+value+'</a>';
	       
        }
     
    
        function delFm(value, row) {
        	//return '<a href="#" id="mdp" data-type="text" data-url="/utilisateurs/del" data-pk="'+row['_id']+'" data-name="_id">Supprimer</a>';
        	console.log(row['_id']);
        	return '<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#qrcodeModal" onclick="'+"affqrcode('"+row['_id']+"');"+'"><i class="fas fa-qrcode"></i></button>&nbsp;'+
        		   '<button type="button" class="btn btn-danger" onclick="'+"confirmdel('"+row['_id']+"','feko-fontaine','feko-fontaine');"+'"><i class="fas fa-trash-alt"></i></button>&nbsp;'+
               	   '<button type="button" data-toggle="modal" data-target="#exampleModalCenter" class="btn btn-info editbt" onclick="editobj('+"'"+row['_id']+"'"+')"><i class="fas fa-pencil-alt"></i></button>';
    	}
    
    function affqrcode(id){
	     var qrcode = new QRCode("qrcode");
	    qrcode.makeCode(id);
    }
		
		
        $(document).ready(function () {

            $('#video').addClass("active");
            


        });
        
        
        
        $(document).ready( function() {
    			
		
		$(document).on("click", ".browse", function() {
  var file = $(this).parents().find(".file");
  file.trigger("click");
});
$('input[type="file"]').change(function(e) {
  var fileName = e.target.files[0].name;
  $("#file").val(fileName);

  var reader = new FileReader();
  reader.onload = function(e) {
    // get loaded data and render thumbnail.
    document.getElementById("preview").src = e.target.result;
  };
  // read the image file as a data URL.
  reader.readAsDataURL(this.files[0]);
});	
	});
         
    </script>
</body>

</html>